/* margin to center the main content */
body {
    background-color: #a9d4cf;
    margin: 0 10% 5% 10%;
    font-family: Arial, Helvetica, sans-serif
}
.top {
    width: 100%;
}
h2 {
    color: white;
    font-size: 1.8rem;
    position: absolute;
    top:7%;
    margin-left: -10%;
    width: 100%;
    text-align: center;
}
#background {
    width: 100%;
}
nav {
    background-color: #D4E9E7;
    text-align: center;
    margin-top: -5px;
}
a {
    display: inline-block;
    padding: 20px;
    text-decoration: none;
}
/* no change after clicked the button */
a:visited {
    color: black;
}
div {
    background-color: #D4E9E7;
    margin-top: -20px;
    padding: 0.5rem;
}
article img {
    width: 10rem;
    float: left;
    margin: 0rem 1rem 1rem 0rem;
}
article p {
    margin-top: 1rem;
}
/* the "facts" should be separated from the "story" including the profile img */
#story::after {
    content: "";
    clear: both;
    display: table;
}
input[type=text] {
    width: 98%;
}
input[radio] {
    display: inline;
}
input[type=submit] {
    background-color: #D4E9E7;
}
footer {
    text-align: right;
}