/* default */
body {
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    display: block;
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    font-size: 3em;
    font-weight: bold;
}

h2 {
    font-size: 2em;
    font-weight: bold;
}

h4 {
    font-size: 1.5em;
    font-weight: bold;
}

p {
    font-size: 0.6em;
    line-height: 1.6em;
}

.header {
    display: block;
    background-color: #222;
    padding: 10px 0;
}

ul {
    display: block;
    text-align: center;
    color: #c78c06;
    margin: 0 10px;
}

#logo {
    display: block;
    text-align: left;
}

li {
    display: block;
    padding: 20px;
}

a:visited {
    color: inherit;
}

li:hover {
    color: black;
    background-color: #c78c06;
}

.search {
    display: block;
    text-align: center;
}

/* adjust the size of searchbox and text inside */
#searchbox {
    display: inline-block;
    border: none;
    height: 40px;
    vertical-align: middle;
    width: calc(100% - 42px - 10px);
    font-size: 1em;
    padding: 0 0 0 10px;
}

/* adjust the size of search button */
#searchbox-button {
    display: inline-block;
    color: #c78c06;
    background-color: transparent;
    border: 1px solid #c78c06;
    height: 40px;
    width: 40px;
    vertical-align: middle;
    margin: 0 0 0 -4px;
}

#searchbox-button:visited {
    color: inherit;
}

.home {
    position: relative;
    width: 100%;
    /* background-image: url(../images/main-banner.jpg);
    background-position: center;
    background-size: cover; */
}

.home img {
    display: block;
    width: 100%;
    height: auto;
}

/* use absolute position and transform: translate to centre the text overlapping the background image */
.home-text {
    display: block;
    position: absolute;
    margin: auto;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    background-color: rgba(34, 34, 34, 0.7);
    color: white;
    padding: 30px 0 10px 10px;
    width: calc(100% - 10px);
}

.home-text h1 {
    line-height: 1.6em;
}

.home-text p {
    margin: 10px 30px 0 0;
}

.home button {
    background-color: #c78c06;
    margin-top: 8px;
    padding: 26px;
}

/* Section about-us is independent; margina only set for img and text. */
.about-us {
    background-color: #ffe6ac;
    padding: 10px;
}

.about-us img {
    display: block;
    width: 100%;
}

.about-us-text h2 {
    padding-top: 26px;
    padding-bottom: 20px;
}

.about-us-text p {
    padding-bottom: 10px;
}

/* same style applied on 5 services divisions in moblie view */
.services {
    padding-top: 38px;
}

.services h2 {
    margin-left: 10px;
    padding-bottom: 6px;
}

.services-div {
    margin: 10px;
    background-color: #ffe6ac;
}

.services-img {
    width: 100%;
}

.services-text {
    padding: 10px;
}

.services h4 {
    padding-top: 16px;
    padding-bottom: 14px;
}

.services p {
    padding-bottom: 10px;
}

.services button {
    background-color: black;
    color: white;
    padding: 24px;
}

.services i {
    transform: scale(2.5, 2);
    padding-left: 8px;
}

/* set background img in CSS instead of html to ensure the img fit the text */
.vision {
    margin-top: 20px;
    width: calc(100%-56px);
    background-image: url(../images/vision.jpg);
    background-position: center;
    background-size: cover;
    padding: 10px;
}

.vision-text {
    display: block;
    color: white;
}

.vision h4 {
    padding-top: 16px;
    padding-bottom: 14px;
}

.vision button {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    margin-top: 10px;
    padding: 24px;
    border: 0.5px solid #c78c06;
}

.vision i {
    transform: scale(2.5, 2);
    padding-left: 8px;
}

/* same style applied on 2 team divisions in moblie view */
.team {
    padding-top: 30px;
}

.team h2 {
    margin-left: 10px;
    padding-bottom: 6px;
}

.team-div {
    margin: 10px;
    background-color: #ffe6ac;
}

.team-img {
    width: 100%;
}

.team-text {
    padding: 10px;
}

.team h6 {
    padding-top: 8px;
    padding-bottom: 2px;
    font-size: 0.7em;
    font-weight: bold;
    border-bottom: 1.5px solid #c78c06;
}

.team p {
    padding: 10px 0;
}

.contact {
    margin: 10px;
}

.contact h2 {
    padding-top: 40px;
    padding-bottom: 26px;
}

.contact .message label {
    display: block;
    font-size: 0.6em;
    padding-top: 10px;
    padding-bottom: 5px;
}

/* resize the contact form to fit the screen in moblie wiew */
.contact .message input {
    display: block;
    width: calc(100% - 10px);
    font-size: 1em;
}

.contact .message textarea {
    display: block;
    resize: none;
    width: calc(100% - 10px);
    height: 7.5em;
}

.contact .message button {
    margin-top: 12px;
    background-color: #222;
    color: #c78c06;
    padding: 4px;
    font: 0.5em;
}

.contact .operation h4 {
    padding-top: 20px;
    padding-bottom: 10px;;
}

.contact .operation table, th, td {
    border: 0.8px solid black;
    padding: 12px;
    font-size: 0.8em;
}

.contact .operation table {
    width: 100%;
}

.contact .operation th {
    background-color: #ffe6ac;
}

.contact .location h4 {
    padding-top: 20px;
    padding-bottom: 10px;
}

.contact .location iframe {
    display: block;
    width: 100%;
}

footer {
    background-color: #222;
    color: #c78c06;
    padding:10px;
}

footer p {
    margin-top: 10px;
}

/* adjust the style in destop view */
@media screen and (min-width: 760px) {
    /* default setting in destop view */
    h1 {
        font-size: 4em;
        font-weight: bold;
    }
    
    p {
        font-size: 0.8em;
        line-height: 1.6em;
    }

    /* change vertical nav bar into horizontal; justify the items at the center */
    nav {
        display: flex;
        justify-content: center;
    }

    ul {
        display: flex;
        align-items: center;
    }
    
    #logo {
        display: inline;
        margin-right: 40px;
    }
    
    li {
        display: inline;
        float: left;
        padding: 20px 25px;
    }
    
    /* resize the image without distortion */
    .home img {
        max-height: 540px;
        object-fit: none;
    }
    
    /* centre the home text box */
    .home-text {
        display: block;
        position: absolute;
        margin: auto; 
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 40px 0 10px 10px;
        width: calc(90% - 10px);
    }

    .home-text h1 {
        line-height: 1.6em;
    }

    .home-text p {
        margin: 20px 30px 0 0;
    }

    /* use flex display to align img and text horizontally */
    .about-us {
        display: flex;
        justify-content: center;
        padding: 20px 60px;
    }

    .about-us img {
        padding: 10px;
        max-width: calc(50% - 20px);
        object-fit: cover;
    }

    .about-us-text h2 {
        padding-top: 10px;
    }
}